/* 
    Document   : imprimir
    Created on : 15-abr-2013, 17:29:40
    Author     : fermin 2
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/
body { 
   font: 8pt Verdana, Geneva, Arial, Helvetica, sans-serif; 
   margin: 0 0 0 0px; 
   text-align: center; 
    background-color: #ffffff; 
} 

#recibo-content {
    background-color: white;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    
}
h4{
    text-align:center;
    margin-bottom: 0px;
}
#dato-fecha{
    margin-right: 19%;
}

#box-table-a
{
    font-family: Sans-Serif, "Lucida Sans Unicode", "Lucida Grande";
    font-size: 10pt;
    margin-left: auto;
    margin-right: auto;
    width: 800px;
    text-align: center;
    border-collapse: collapse;
}
#box-table-a th
{
    font-size: 10pt;
    font-weight: normal;
    padding: 8px;
    border-top: 4pt solid black;
    border-bottom: 1pt solid #fff;

}
#box-table-a td
{
    padding: 8px;
    border-bottom: 1pt solid #fff;
    border-top: 1px solid transparent;
}
#box-table-a tr:hover td
{
    background: #d0dafd;

}

.align-right{
float:right;
}


.align-left{
float:left;

}

.clean{
    clear:both;

}
