/* CSS Document */
body{
	margin:0;
	padding:0;
	font:normal 12px Verdana, Geneva, sans-serif;
    text-align:center;
    
}
img{ border:0px }
a{ text-decoration:none }
a:focus{ outline:0px; }
#recibo-content {
    background-color: white;
    width: 900px;
    margin-left: auto;
    margin-right: auto;
    
}
h4{
    text-align:center;
    
}
#top{
	background:url(../imgs/head.jpg) repeat-x;
	height:43px;
	width:100%;
	text-align:center;
	color:#B2B1B1;
	padding-top:8px
}
#top a{
	color:#FFF;
	font-weight:bold;
}
#top a:hover{
	text-decoration:underline
}
#dato-centro{
   margin-left: 5%;
    
}

#dato-fecha{
    margin-right: 5%;
}

#dato-familia{
    margin-left: 5%;
}
a {
    color: blue;
    text-decoration: none;
    font-size: 14px;
}
a:hover
{
	text-decoration: underline;
}
nav
{
	width: 100%;
	height: 40px;
	background-color: #2C5463;
	box-shadow: 10px 10px 5px #888;
  	
	
}

nav ul {
  font-family: Arial, Verdana;
  font-size: 20px;
  margin: 0;
  padding: 0;
  list-style: none;
  z-index: 1;
}
 
nav ul li {
  display: block;
  position: relative;
  float: left;
 
}
 
nav li ul { 
  display: none; 
}
 
nav ul li a {
  display: block;
  text-decoration: none;
  padding: 7px 15px 3px 15px;
  background: #2C5463;
  color: #ffffff;  
  margin-left: 1px;
  white-space: nowrap;
  height:30px; /* Width and height of top-level nav items */
  width:120px;
  text-align:center;
 
}
 /* NAV MENU */
nav ul li a:hover { 
  background: #617F8A; 
}
 
nav li:hover ul {
  display: block;
  position: absolute;
  height:30px;
}
 
nav li:hover li {
  float: none;
  font-size: 11px;
 
}
 
nav li:hover a { 
  background: #3A464F; 
  height:30px; /* Height of lower-level nav items is shorter than main level */
}
 
nav li:hover li a:hover { 
  background: #95A9B1; 
}
 
nav ul li ul li a {
    text-align:left; /* Top-level items are centered, but nested list items are left-aligned */
}

nav .current_page_item a, nav .current_page_item a:visited {
    text-decoration: underline;
}
/* END NAV MENU */
.margin-div{
    
    text-align: justify;
}

p {
	
}

.tab{
	padding-left: 5em;
}

.align-right{
float:right;
}


.align-left{
float:left;

}

.clean{
    clear:both;

}
/*grid style */
.grid-footer {
position: relative;
top: -28px;
float : right;
width : 100px;
}

.grid-footer .pGroup {
   padding-top: 5px;
}